@mixin flex($color, $justify, $align) {
  display: flex;
  background-color: $color;
  position: relative;
  justify-content: $justify;
  align-items: $align;
}
@mixin div_scale($width, $length) {
  width: $width;
  height: $length;
}

body {
  background-color: #202124;
  background-size: cover;
  background-position: center;
  position: fixed;
  font-size: 2vh;
  color: white;
  margin: 0;
}

.startMenu {
  @include flex(#202124, center, center);
  @include div_scale(100vw, 100vh);
  margin: 0;
  & button {
    @include div_scale(10vw, 10vw);
    border-radius: 50%;
    font-size: 1.5vw;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.25);
    }
  }
}

.gameMode {
  @include flex(#202124, center, center);
  @include div_scale(100vw, 100vh);
  margin: 0;
  & .status {
    position: absolute;
    top: 15vh;
    font-size: 5vh;
  }
  & input {
    @include div_scale(80%, 20%);
    text-align: center;
    font-size: 1.25vw;
    border-radius: 25px;
    background-color: rgb(217, 206, 206);
  }
  & button {
    position: absolute;
    bottom: 15vh;
    background-color: red;
    @include div_scale(4vw, 4vw);
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    font-size: 1vw;
    color: blanchedalmond;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.4);
    }
  }
}

.winningMode {
  @include flex(#202124, center, center);
  @include div_scale(100vw, 100vh);
  margin: 0;
  & p {
    @include div_scale(100%, 20%);
    text-align: center;
    color: gold;
    font-size: 5vw;
    font-weight: 700;
    font-family: "Courier New", Courier, monospace;
    display: block;
  }
  & button {
    position: absolute;
    bottom: 15vh;
    display: block;
    background-color: darkorange;
    border-color: blueviolet;
    @include div_scale(4vw, 4vw);
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    font-size: 1vw;
    color: blanchedalmond;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.4);
    }
  }
}
